.caret {
    border: none;
}

h1 {
    border-left: 1px solid gray;
    padding-left: 20px;
}

.margin-10 {
    margin-bottom: 10px;
}

.font-25 {
    font-size: 25px;
}

body,html {
    width: 100vw;
    height: 100vh;
}
.full-h{
    min-height: 100vh;
}

.loading{
  border-radius: 2px;
  padding: 0px 10px;
  background-color: rgba(255, 255, 0, 0.86);
  color: black;
}
.nav{
  list-style:none;
  line-height:80px;
  font-size:18px;
}
.nav li{
  display:inline;
}
.nav li::after{
  content:'|';
  margin:5px;
}
.nav li:last-child::after{
  content:'';
  margin:5px;
}
footer,.disclaimer{
  background-color:whitesmoke;
  border-radius:5px;
}
.disclaimer{
  padding:10px;
  margin:5px 0;
}
