.caret {
  border: none;
}

h1 {
  border-left: 1px solid gray;
  padding-left: 20px;
}

.margin-10 {
  margin-bottom: 10px;
}

.font-25 {
  font-size: 25px;
}

@media (max-width: 990px) {
  .header-title {
    font-size: 20px;
  }
  .header-logo{
    display:none;
  }
}
