<!doctype html>
<html amp lang="en">
{% load static%}

<head>
    <meta charset="utf-8">
    <title>{{seo_data.header_seo_component.title}}</title>
    <meta name='description' content="{{seo_data.header_seo_component.meta_description}}"/>
    <meta name='keywords' content="{{seo_data.header_seo_component.meta_keywords}}"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"> {% block seo %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }

    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'webapp/css/app.css' %}" rel="stylesheet" />
    <script src="{% static 'webapp/javascript/script.js' %}"></script> {% endblock %}

    </noscript>
</head>

<body>
    {% block header%}
    <header>
        <div class="container">
            <div class="brand-logo">
                <a class="brand-logo" href="{% url 'home'%}">BNIFSC</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'by_ifsc'%}">Find By IFSC</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% endblock%}
    <div class="container">
        {% block page_content %}
            <h1>Page content</h1>
        {% endblock %}
    </div>

    {% block footer%}
    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'aboutus'%}">Aboutus</a>
                    </li>
                    <li>
                        <a href="{% url 'contactus'%}">Contactus</a>
                    </li>
                    <li>
                        <a href="{% url 'privacy'%}">Privay Policy</a>
                    </li>
                    <li>
                        <a href="{% url 'disclaimer'%}">Disclaimer</a>
                    </li>
                </ul>
            </nav>
            <div class='disclaimer'>all rights are reserved@bnifs.</div>
        </div>
    </footer>
    {% endblock%}


</body>

</html>