{% extends "base.html"%} {% block page_content%}

<h1 class="page-heading">{{seo_data.heading_template.h1_template}}</h1>

<!-- Main page form-->
<section class='row form-section'>
    {% block form%} {% include "components/main_form.html"%} {% endblock %}
    <div class='col-12 col-md-4'>
        <h1>Ads</h1>
    </div>
</section>

<!-- page items like bank, state, district-->
{% block page_items%}
<section class='row list-container'>
    <div class="col-12">
        <h2>{{seo_data.heading_template.h2_template}}</h2>
    </div>
    <div class="item-list col-12">
        {% for item in page_items%}
        <div class="item col-12 col-md-4">
            <a href="{{item.url}}">{{item.name}}</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock%} {% block seo_body%} {% include 'components/seo_component.html'%} {% endblock%} {% endblock %}