<!--Bank Detail-->
<!--Bank Details list-->
<div class="bank-detail">
        <h2>Name Of Bank</h2>
        <table class="table">
            <tr class="ifsc">
                <td>label 1</td>
                <td>value 1</td>
            </tr>
            <tr>
                <td>label 2</td>
                <td>value 2</td>
            </tr>
            <tr>
                <td>label 3</td>
                <td>value 3</td>
            </tr>
            <tr>
                <td>label 4</td>
                <td>value 4</td>
            </tr>
            <tr>
                <td>label 5</td>
                <td>value 5</td>
            </tr>
            <tr>
                <td>label 6</td>
                <td>value 6</td>
            </tr>
            <tr>
                <td>label 7</td>
                <td>value 7</td>
            </tr>
            <tr>
                <td>label 8</td>
                <td>value 8</td>
            </tr>
            <tr>
                <td>label 9</td>
                <td>value 9</td>
            </tr>
            <tr>
                <td>label 10</td>
                <td>value 10</td>
            </tr>
        </table>
    </div>