<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" >BNIFSC</a>
            </div>
          <div class="pull-right loading">
            <h4>Loading...</h4>
          </div>
        </div>
    </nav>
</header>
<div class="col-lg-12 full-h">
    <div class="col-lg-3 col-md-3 full-h">
        <!--TODO Up-Down error event-->
        <input ng-model="bankFilter" type="search" style="width:100%;" placeholder="Search Banks"/>
        <div class="row full-h" style="overflow:scroll;height:80vh;border-right:1px solid gray;">
            <bank items="banks" bank-filter="bankFilter"></bank>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 full-h">
        <div ui-view=""></div>
    </div>
</div>
