<!--TODO form validation  pending.-->
<h2 class="text-center">{{name}}</h2>
<form class="form-horizontal">
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="name">Name</label></div>
        <div class='col-lg-9'><input class=" form-control" id="name" placeholder="Name" disabled ng-model="bank.name"/></div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="acronym">Acronym</label></div>
        <div class='col-lg-9'><input class=" form-control" id="acronym" placeholder="acronym"  ng-model="bank.acronym"/></div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="state">State</label></div>
        <div class='col-lg-9'><input class=" form-control" id="state" placeholder="state" ng-model="bank.state"/></div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="district">district</label></div>
        <div class='col-lg-9'><input class=" form-control" id="district" placeholder="district"
                                     ng-model="bank.district"/></div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="city">city</label></div>
        <div class='col-lg-9'><input class=" form-control" id="city" placeholder="city" ng-model="bank.city"/></div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="address">address</label></div>
        <div class='col-lg-9'><input class=" form-control" id="address" placeholder="address" ng-model="bank.address"/>
        </div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="email">email</label></div>
        <div class='col-lg-9'><input class=" form-control" id="email" placeholder="email" ng-model="bank.email"/></div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="phone">phone</label></div>
        <div class='col-lg-9'><input class=" form-control" id="phone" placeholder="phone" ng-model="bank.phone"/></div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="mobile">Mobile</label></div>
        <div class='col-lg-9'><input class=" form-control" id="mobile" placeholder="mobile" ng-model="bank.mobile"/></div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="pincode">pincode</label></div>
        <div class='col-lg-9'><input class=" form-control" id="pincode" placeholder="pincode" ng-model="bank.pinCode"/>
        </div>
    </div>
    <div class="form-group">
        <div class='col-lg-2'><label class=" control-label" for="popular">isPopular</label></div>
        <div class='col-lg-9'><input type="checkbox" class=" form-control" id="popular" placeholder="popular"
                                     ng-model="bank.popular"/></div>
    </div>
    <div class="form-group">
        <button class="center-block btn btn-success" type="submit" ng-click="save()">Update</button>
    </div>

</form>
