<md-whiteframe class="md-whiteframe-z1" layout >
<div flex="20">
  <img src="images/bnifsc_s.png" style="margin:22px;" >
</div>
<div flex="75">
  <ui-select ng-model="search"
  theme="bootstrap"
  reset-search-input="false"
  style="width: 100%;"
  title="Search bank name........">
    <ui-select-match placeholder="Search bank name............">{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="value in viewObj.itemsList | filter:$select.search">
      <div ng-bind-html="value | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>
</md-whiteframe>
<br/>
<div class="row" style="margin:0px;padding:0px">
  <div class="col-lg-4 anchor" ng-repeat="(key, value) in viewObj.itemsList|filter:search">
    <a ng-if="!bank" ng-href="#{{value}}/">{{value}}</a>
    <a ng-if="bank && !state" ng-href="#{{bank}}/{{value}}/">{{value}}</a>
    <a ng-if="state && !district" ng-href="#{{bank}}/{{state}}/{{value}}/">{{value}}</a>
    <a ng-if="district && !keyString" ng-href="#{{bank}}/{{state}}/{{district}}/{{value.branchName}}/{{value.id}}">{{value.branchName}}</a>
  </div>
  <div ng-if="keyString">
    <div class="panel panel-primary " >
      <div class="panel-heading" style="background-color:#B448D2 !important;">
        <h3>{{branchProps.name}}, {{branchProps.branchname}} ({{branchProps.address}})</h3>
      </div>
      <div class="panel-body">
        <table class="table .table-hover">
          <tr>
            <td style="min-width: 120px;"><h2>IFSC :</h2></td><td><h2>{{branchProps.ifsc}}</td>
          </tr>
          <tr>
            <td>MICR :</td><td>{{branchProps.micr}}</td>
          </tr>
          <tr>
            <td>Bank Name :</td><td>{{branchProps.name}}</td>
          </tr>
          <tr>
            <td>Branch Name :</td><td>{{branchProps.branchname}}</td>
          </tr>
          <tr>
            <td>Address :</td><td>{{branchProps.address}}</td>
          </tr>
          <tr>
            <td>Pin Code :</td><td>{{branchProps.pincode}}</td>
          </tr>
          <tr>
            <td>District :</td><td>{{branchProps.district}}</td>
          </tr>
          <tr>
            <td>State :</td><td>{{branchProps.state}}</td>
          </tr>
          <tr>
            <td>Phone :</td><td>{{branchProps.phone}}</td>
          </tr>
          <tr>
            <td>Email :</td><td>{{branchProps.email}}</td>
          </tr>
          <tr>
            <td>Customer Care :</td><td>{{branchProps.custCare}}</td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>
  </div>
</div>