<div class="row">
  <div class="input-group">
    <input type="text" class="form-control" ng-model='search' placeholder="Type Bank Name......." aria-describedby="">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
  </div>
</div>
<div class="row">
  <div class="col-lg-6" ng-repeat="(key, value) in viewObj.itemsList|filter:search">
    <a ng-if="!bank" ng-href="#{{value}}/">{{value}}</a>
    <a ng-if="bank && !state" ng-href="#{{bank}}/{{value}}/">{{value}}</a>
    <a ng-if="state && !district" ng-href="#{{bank}}/{{state}}/{{value}}/">{{value}}</a>
    <a ng-if="district && !keyString" ng-href="#{{bank}}/{{state}}/{{district}}/{{value.branchName}}/{{value.id}}">{{value.branchName}}</a>
  </div>
  <div ng-if="keyString">
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <h3>{{branchProps.name}}, {{branchProps.branchname}} ({{branchProps.address}})</h3>
      </div>
      <div class="panel-body">
        <table class="table .table-hover">
          <tr>
          <td><h2>IFSC :</h2></td><td><h2>{{branchProps.ifsc}}</td>
          </tr>

          <tr>
            <td>MICR :</td><td>{{branchProps.micr}}</td>
          </tr>
          <tr>
            <td>Bank Name :</td><td>{{branchProps.name}}</td>
          </tr>
          <tr>
            <td>Branch Name :</td><td>{{branchProps.branchname}}</td>
          </tr>
          <tr>
            <td>Address :</td><td>{{branchProps.address}}</td>
          </tr>
          <tr>
            <td>Pin Code :</td><td>{{branchProps.pincode}}</td>
          </tr>
          <tr>
          <td>District :</td><td>{{branchProps.district}}</td>
          </tr>
          <tr>
          <td>State :</td><td>{{branchProps.state}}</td>
          </tr>
          <tr>
          <td>Phone :</td><td>{{branchProps.phone}}</td>
          </tr>
          <tr>
          <td>Email :</td><td>{{branchProps.email}}</td>
          </tr>
          <tr>
          <td>Customer Care :</td><td>{{branchProps.custCare}}</td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>
  </div>
</div>