<md-whiteframe class="md-whiteframe-z1" layout >
<div  class='col-sm-2 col-xs-6 col-lg-2 col-md-2'>
  <a  ng-href="#"><img src="images/bnifsc_s.png" style="margin:22px;" ></a>
</div>
<div >
  <h1>All Indian Banks IFSC codes.</h1>
</div>
</md-whiteframe>
<br/>
      <div layout="row" ng-show="ajaxrequest" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
      </div>      
<div class='row'>
  <div class="col-lg-8 col-lg-offset-1">
    <div class="input-group">      
       <md-autocomplete        
        md-selected-item="ctrl.selectedItem"
        md-search-text="ctrl.searchText"
        md-items="item in autocompleteData"
        md-item-text="item"
        placeholder="What is your favorite US state?">      
    </md-autocomplete>
    </div>
  </div>
</div>
<br/>
<div class="row" style="margin:0px;padding:0px">
  <div ng-if="!keyString" class="panel panel-default " >
    <div class="panel-heading">
      <div class="row">
        <div class="col-lg-12">
          <h2>{{panelTitle}}</h2>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-lg-12 " ng-init="handle=''" ng-repeat="(key, value) in viewObj.itemsList|filter:search">
        <div ng-if="handle!==key" class='row'>
          <div class='col-lg-4' ng-init="handle=key"><span class='font-25'>
            {{handle}}
          </span></div>
        </div>
        <div class='row'>
          <div ng-repeat="item in value" class='col-lg-4 anchor margin-10'>
            <a ng-if="!bank" ng-href="#!{{item}}/">{{item}}</a>
            <a ng-if="bank && !state" ng-href="#!{{bank}}/{{item}}/">{{item}}</a>
            <a ng-if="state && !district" ng-href="#!{{bank}}/{{state}}/{{item}}/">{{item}}</a>
            <a ng-if="district && !keyString" ng-href="#!{{bank}}/{{state}}/{{district}}/{{item.branchName}}/{{item.id}}">{{item.branchName}}</a>
          </div>
        </div>
        <hr/>
      </div>
    </div>
  </div>
  
  <div ng-if="keyString">
    <div class="panel panel-primary " >
      <div class="panel-heading">
        <h3>{{branchProps.name}}, {{branchProps.branchName}} ({{branchProps.address.trim()}})</h3>
      </div>
      <div class="panel-body">
        <table class="table .table-hover ">
          <tr>
            <td style="min-width: 120px;"  class='text-right'><h2>IFSC :</h2></td><td><h2>{{branchProps.ifsc.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>MICR :</td><td>{{branchProps.micr.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>Bank Name :</td><td>{{branchProps.name.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>Branch Name :</td><td>{{branchProps.branchName.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>Address :</td><td>{{branchProps.address.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>Pin Code :</td><td>{{branchProps.pincode.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>District :</td><td>{{branchProps.district.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>State :</td><td>{{branchProps.state.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>Phone :</td><td>{{branchProps.phone.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>Email :</td><td>{{branchProps.email.trim()}}</td>
          </tr>
          <tr>
            <td class='text-right'>Customer Care :</td><td>{{branchProps.custCare.trim()}}</td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>
  </div>
</div>