@import "~bootstrap/dist/css/bootstrap.css";
// variables.

$primary-color: #3b78e7;
$secondry-color: #3367d6;
$white: #fff;
$black: #000;
$gary: rgba(0, 0, 0, 0.987);
$gray-light: rgba(245, 242, 242, 0.987);
$heading-color: White;
$background-color: $gray-light;
$anchor-color-1: $white;
$anchor-color-2: $black;
$font-large: 48px;
$font-medium: 32px;
$font-small: 18px;
// Global style
body,
a {
  color: $anchor-color-2;
}
a {
  font-size: $font-small;
}

// Header component
@keyframes slidein {
  from {
    width: 10%;
  }
  to: {
    width: 100%;
  }
}

header {
  height: 80px;
  width: 100%;
  background-color: $primary-color;
  color: $anchor-color-1;
  a {
    color: $anchor-color-1;
  }
  display: flex;
  .container {
    height: 100%;
    display: flex;
    .brand-logo {
      font-size: 32px;
      display: flex;
      align-items: center;
    }
    nav {
      display: flex;
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        font-size: 20px;
        li {
          padding: 0 10px;
          display: flex;
          height: 100%;
          align-items: center;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            border: 2px solid transparent;
            transition: all 0.8s ease-out;
          }
          &.active,
          &:hover {
            a {
              &:hover {
                text-decoration: none;
              }
            }
            &::after {
              border: 2px solid $anchor-color-1;
              animation-duration: 0.4s;
              animation-name: slidein;
            }
          }
        }
      }
    }
  }
}

// Footer component
footer {
  width: 100%;
  background-color: $primary-color;
  padding: 20px 0;
  color: $anchor-color-1;
  a {
    color: $anchor-color-1;
  }
  .container {
    height: 100%;
    display: felx;
    flex-direction: column;
    nav {
      display: flex;
      justify-content: center;
      height: 30px;
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        font-size: 20px;
        li {
          padding: 0 10px;
          display: flex;
          height: 100%;
          align-items: center;
          position: relative;
        }
      }
    }
  }
  .disclaimer {
    display: flex;
    justify-content: center;
    height: 20px;
  }
}

// Bank List component
.list-container {
  display: flex;
  padding: 50px 0;
  h2,
  .item-list {
    display: flex;
    flex-wrap: wrap;
    .item {
      padding: 5px 0;
    }
  }
}

// Form component
.form-section {
  padding: 50px 0;
  form {
    width: 100%;
  }
  select {
    min-width: 200px;
    width: 50%;
  }
  label {
    width: 100px;
    text-align: right;
    padding: 0 10px;
    color: $anchor-color-2;
  }
  .bank-form {
    display: flex;
    justify-content: center;
  }
}

// Seo content
.seo-content {
  padding: 30px 0;
}

// Bank Detail
.bank-detail {
  padding: 50px 0;
  tr{
      &.ifsc{
          font-size: $font-medium;
      }
      &.address{
          font-size: $font-small;
      }
    }  
}
